body {
  background-color: rgb(52,58,64);
}

.contact {
  padding: 10px;
}

.contact span {
  display: block;
}

.contact .head {
  font-weight: bold;
}

#logo {
  width: 100px;
}

.hide-apply-btn {
  display: none;
}

.carousel-indicators li {
  height: 10px;
  border-radius: 50%;
  width: 10px;
}

.carousel-indicators .active {
  background-color: rgb(255,193,7);
}

.carousel-caption {
  top: 10%;
}

.slider-text {
  color: white;
  text-align: left;
  background: rgba(5,5,5,0.8);
}

.no-padding {
  padding: 0;
  margin: 0;
}

.row-item-odd {
  text-align: center;
  padding: 32px 32px;
  color: rgb(255,213,7);
  background-color: black;
}

.row-item-even {
  text-align: center;
  padding: 32px 32px;
  background-color: rgb(255,213,7);
  color: black;
}

.row-item-odd i, .row-item-even i {
  padding-bottom: 16px;
}

.recent {
  color: white;
}

footer {
  color: white;
}

@media (max-width: 380px) {
  .hide-apply-btn {
    display: block;
  }
}

@media (max-width: 380px) {
  .carousel-caption p {
    display: none;
  }
}

@media (max-width: 576px) {
  .slider-text {
    text-align: center;
  }
}

